body {
	padding: 10px;
}


#map {
	z-index: -1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
}

.weather-info {
	z-index: 0;
	background-color: rgba(161, 155, 155, 0.8);
}