@media only screen and (max-width: 40em) { 
	.menu li a {
		padding: 0 0.8rem;
	}

	.wi {
		font-size: 2.25rem;
	}

	.location-title {
		color: #2199e8;
		font-size: 1.5rem;
	}

	.temp, .speed, .humid {
		font-weight: bold;
	}

	.temp {
		font-size: 2.25rem;
	}

	.speed, .humid {
		font-size: 1.3rem;
	}

	#temp-img {
		vertical-align: top;
		font-size: 1.5rem;
	}
}

@media (min-width: 40.1em) and (max-width: 48.5em) {
	.menu li a {
		padding: 0 0.8rem;
	}

	.wi {
		font-size: 2.25rem;
	}

	.location-title {
		padding: 0.4rem 0.5rem;
		color: #2199e8;
		font-size: 1.5rem;
	}

	.temp, .speed, .humid {
		font-weight: bold;
	}

	.temp {
		font-size: 2.25rem;
	}

	.speed, .humid {
		font-size: 1.3rem;
	}

	#temp-img {
		vertical-align: top;
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 48.6em) {

	.menu li a {
		padding: 0 1rem;
	}

	.wi {
		font-size: 2.5rem;
	}

	.location-title {
		padding: 0.4rem 0.5rem;
		color: #2199e8;
		font-size: 1.75rem;
	}

	.temp, .speed, .humid {
		font-weight: bold;
	}

	.temp {
		font-size: 2.5rem;
	}

	.speed, .humid {
		font-size: 1.6rem;
	}

	#temp-img {
		vertical-align: top;
		font-size: 1.6rem;
	}
}

/* Allows Weather bar sits on top of map, 
	Still allows for maps funcationality */

.weather-bar {
	position: relative;
	z-index: 1;
}


/*** Update Weather button ***/

.display-none {
	display: none;
}

.fade-in-animation {
	-webkit-animation: fadeInRightBig 1s;
  animation: fadeInRightBig 1s;
}

.fade-out-animation {
	-webkit-animation: fadeOutRightBig 1s;
  animation: fadeOutRightBig 1s;
}


/*** Map ***/

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
}
