@media only screen and (max-width: 40em) { 
	.menu li a {
		padding: 0 0.8rem;
	}

	.forecast-img, #weather-img, #wind-img, #humid-img {
		font-size: 2.25rem;
	}

	.location-title {
		color: #2199e8;
		font-size: 1.5rem;
	}

	.temp, .speed, .humid {
		font-weight: bold;
	}

	.temp {
		font-size: 2.25rem;
	}

	.speed, .humid {
		font-size: 1.3rem;
	}

	#temp-img {
		vertical-align: top;
		font-size: 1.5rem;
	}
}

@media (min-width: 40.1em) and (max-width: 48.5em) {
	.menu li a {
		padding: 0 0.8rem;
	}

	.forecast-img, #weather-img, #wind-img, #humid-img {
		font-size: 2.25rem;
	}

	.location-title {
		padding: 0.4rem 0.5rem;
		color: #2199e8;
		font-size: 1.5rem;
	}

	.temp, .speed, .humid {
		font-weight: bold;
	}

	.temp {
		font-size: 2.25rem;
	}

	.speed, .humid {
		font-size: 1.3rem;
	}

	#temp-img {
		vertical-align: top;
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 48.6em) {

	.menu li a {
		padding: 0 1rem;
	}

	.forecast-img, #weather-img, #wind-img, #humid-img {
		font-size: 2.5rem;
	}

	.location-title {
		padding: 0.4rem 0.5rem;
		color: #2199e8;
		font-size: 1.75rem;
	}

	.temp, .speed, .humid {
		font-weight: bold;
	}

	.temp {
		font-size: 2.5rem;
	}

	.speed, .humid {
		font-size: 1.6rem;
	}

	#temp-img {
		vertical-align: top;
		font-size: 1.6rem;
	}
}

/*** topbar info ***/
.menu a:hover {
	color: #2199e8;
}

.menu a:focus {
	color: #2199e8;
}

/*** Mobile title bar ***/
.title-bar {
	background: #e6e6e6;
	color: #2199e8;
}

/* Allows Weather bar sits on top of map, 
	Still allows for maps funcationality */

.weather-bar {
	position: relative;
	z-index: 1;
}

.forecast-position {
	z-index: 1;
	position: absolute;
	bottom: 0;
	width: 100%;
}



/*** Forecast weather ***/

.forecast-color {
	color: #2199e8;
	background-color: #e6e6e6;
}

.forecast-high {
	color: red;
}

.forecast-temp, .pop-qpf {
	margin-bottom: 0;
	font-size: 1.25rem;
}

#hourly-title {
	color: black;
}


/****** buttons ********/

.button {
	margin-bottom: 0;
}

/*** Update Weather button ***/

.display-none {
	display: none;
}

.fade-in-animation {
	-webkit-animation: fadeInRightBig 1s;
  animation: fadeInRightBig 1s;
}

.fade-out-animation {
	-webkit-animation: fadeOutRightBig 1s;
  animation: fadeOutRightBig 1s;
}

.fade-out-left {
	-webkit-animation: fadeOutLeftBig 1s;
  animation: fadeOutLeftBig 1s;
}

/*** graph buttons ***/

.graph-buttons {
	margin-left: 0;
}

#hourly-temp, #hourly-precip, #hourly-close {
	width: 100%;
}

#hourly-temp {
	background-color:red;
}

#hourly-close {
	background-color: black;
}

.button-group {
	margin-top: 0.5rem;
	margin-bottom: 0;
}

/*** Map ***/

#map {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100vh;
}


/*** Hourly graphs ***/

.hourly-data {
	background-color: #e6e6e6;
	padding: 0 1rem;
}

